sudo: required

services:
  - docker

env:
  global:
    - BUILD_DATE=$(date +%Y-%m-%d)
    - BUILD_VERSION=$(date +%y%m)
    - MARIADB_VERSION=$(./hooks/latest_release.sh)

jobs:
  include:
    - stage: build
      script:
        - make

    - stage: test plain
      script:
        - make
        - make compose-file
        - docker-compose build
        - docker-compose up -d
        - sleep 20s
        - make test
        - docker-compose kill
        - docker-compose down

    - stage: push latest docker image
      script:
        - make
        - docker login -u="${DOCKER_USERNAME}" -p="${DOCKER_PASSWORD}"
        - docker tag ${USER}/mariadb:latest ${DOCKER_USERNAME}/docker-mariadb:latest
        - docker push ${DOCKER_USERNAME}/docker-mariadb:latest
        - docker logout

    - stage: push version docker image
      if: branch = master
      script:
        - make
        - docker login --username "${DOCKER_USERNAME}" --password "${DOCKER_PASSWORD}"
        - docker tag ${USER}/mariadb:latest ${DOCKER_USERNAME}/docker-mariadb:${MARIADB_VERSION}
        - docker push ${DOCKER_USERNAME}/docker-mariadb:${MARIADB_VERSION}
        - docker logout
