sudo: required

services:
  - docker

env:
  global:
    - BUILD_DATE=$(date +%Y-%m-%d)
    - BUILD_VERSION=$(date +%y%m)

jobs:
  include:
    - stage: build
      script:
        - ./latest_release.sh
        - make

    - stage: test plain
      script:
        - docker-compose --file docker-compose_example.yml build
        - docker-compose --file docker-compose_example.yml up -d
        - docker ps | grep -q database
        - docker-compose --file docker-compose_example.yml kill
        - docker-compose --file docker-compose_example.yml down

#    - stage: test with consul
#      script:
#        - docker-compose --file docker-compose_example_consul.yml up --build -d
#        - docker-compose --file docker-compose_example_consul.yml kill
#        - docker-compose --file docker-compose_example_consul.yml down

#    - stage: test with etcd
#      script:
#        - docker-compose --file docker-compose_example_etcd.yml up --build -d
#        - docker-compose --file docker-compose_example_etcd.yml kill
#        - docker-compose --file docker-compose_example_etcd.yml down

    - stage: push latest docker image
      script:
        - make
        - docker tag ${DOCKER_USERNAME}/docker-mariadb:${MARIADB_VERSION} ${DOCKER_USERNAME}/docker-mariadb:latest
        - docker login --username "${DOCKER_USERNAME}" --password "${DOCKER_PASSWORD}"
        - docker push ${DOCKER_USERNAME}/docker-mariadb:latest
        - docker logout

    - stage: push version docker image
      script:
        - make
        - docker login --username "${DOCKER_USERNAME}" --password "${DOCKER_PASSWORD}"
        - docker push ${DOCKER_USERNAME}/docker-mariadb:${MARIADB_VERSION}
        - docker logout
