---
version: '3.3'

services:

  database:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - BUILD_DATE=${BUILD_DATE}
        - BUILD_VERSION=${BUILD_VERSION}
    restart: always
    container_name: database
    hostname: database
    ports:
      - 33060:3306
    environment:
      - MARIADB_SYSTEM_USER=${MARIADB_SYSTEM_USER}
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
